<h1> Who is that person? </h1>

<p>This is a list of people. There can only be one person, but they can have multiple faces.</p>

<ul>
<li>The first face, you show to the world.</li>
<li>The second face, you show to your close friends and your family.</li>
<li>The third face, you never show anyone. It is the truest reflection of who you are!</li>
</ul>

<p>Learn more abut the <em>3 face proverb</em> <a href="https://runwaypakistan.com/the-3-faces-a-japanese-proverb-theory/"></a></p>

