<h1>Create a new person</h1>

<form action="/people" method="post">

    <label>
        Full Name*:
        <input name="fullName">
    </label>

    <label>
        Photo URL:
        <input name="photo">
    </label>
    
    <label>
        Nickname:
        <input name="preferredName">
    </label>

    <label>
        City:
        <input name="city">
    </label>

    <label>
        Boss:
        <input name="employer" >
    </label>

    <label>
        Salary:
        <input name="valueEstimate">
    </label>

    <button>Create Person</button>
</form>