<h1>Let's talk about books</h1>
<p>Books are awesome, I can tell you something about them.</p>

<form action="/book">
    <label>
        What book would you like to know about?
        <input name="book_name" placeholder="Ulysses" value="Harry Potter" required>
    </label>
    <button>Learn more</button>
</form>