<h1>Welcome to the Carnival</h1>

<h2>The magic ball will find your answer<h2>

<img src="/assets/eightball.gif" alt="magic ball image">

<div id="magicball">
<form action="/future">
<label>Ask and yee shall find</label>
<input name="query" type="text">
<button>Learn Future</button>
</form>
</div>

<p> Not fun of predicing the future? Visit the Carnival to play more games. </p>