<p>We can't find what your looking for. Maybe you need to search another book. Here is an idea see if its on google books or find some inspiration</p>

<iframe src="https://recommendmeabook.com/" name="myIFrame" width="1000px" height="2000px" style="border: solid #000000;"></iframe>
<%# Under the Volcano, Malcolm Lowry %>
<form action="/book">
    <label>
        Would you like to try another book
        <input name="book_name" placeholder="Ulysses" value="Harry Potter" required>
    </label>
    <button>Learn more</button>
</form>